<?xml version = '1.0' encoding='UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>Empty web.xml file for Web Application</description>
    <servlet>
        <servlet-name>SOAPServlet</servlet-name>
        <description>Extended Portal SOAP Server</description>
        <servlet-class>oracle.webdb.provider.v2.adapter.SOAPServlet</servlet-class>
        <init-param>
            <param-name>resourceServletMapping</param-name>
            <param-value>/pdkresource</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <description>Image resource server</description>
        <servlet-class>oracle.webdb.provider.v2.adapter.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderSevlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.EditOrderSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.RetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSearchServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.OrderSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.GeneralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTabsServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.OrderTabsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.RepairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortabilityOrderServlet</servlet-name>
        <servlet-class>pe.com.portability.servlet.PortabilityOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesDataServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.SalesDataServlet</servlet-class>
    </servlet>
    <!-- RCDLRP 27/10/2008-->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MassiveOrderServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.MassiveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTagInitServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.DisplayTagInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- N_SD000298178 JorgeGabriel 07/08/2015 inicio-->
    <servlet>
        <servlet-name>OrderPrintServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.OrderPrintServlet</servlet-class>
    </servlet>
    <!-- N_SD000298178 JorgeGabriel 07/08/2015 fin-->
    <servlet>
       <servlet-name>BiometricaServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.BiometricaServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
        <servlet-name>BiometricaEditServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.BiometricaEditServlet</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>NormalizarDireccionServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.NormalizarDireccionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            OrderExpressStoreServlet
        </servlet-name>
        <servlet-class>
            pe.com.nextel.servlet.OrderExpressStoreServlet
        </servlet-class>
    </servlet>
    <!-- [REQ-0428]JGABRIEL: INICIO  19/05/2016-->
    <servlet>
        <servlet-name>PenaltyServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.PenaltyServlet</servlet-class>
    </servlet>
    <!-- [REQ-0428]JGABRIEL: FIN-->
    <servlet>
        <servlet-name>BiometricaDetailServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.BiometricaDetailServlet</servlet-class>
    </servlet>

    <!-- [PM0011173]LROQUE: INICIO-->
    <servlet>
        <servlet-name>GestionDocumentoDigitalesServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.GestionDocumentoDigitalesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- [PM0011173]LROQUE: FIN-->

    <!-- [PRY0787]JRIOS: INICIO-->
    <servlet>
        <servlet-name>DigitalDocumentServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.DigitalDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDigitalDocumentServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.ViewDigitalDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateCenterServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.PopulateCenterServlet</servlet-class>
    </servlet>
    <!-- [PRY0787]JRIOS: FIN-->

    <!-- JCURI PRY-0890 -->
    <servlet>
        <servlet-name>ApportionmentServlet</servlet-name>
        <servlet-class>pe.com.nextel.servlet.ApportionmentServlet</servlet-class>
    </servlet>
    <!-- JCURI PRY-0890 FIN-->

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <!-- RCDLRP 27/10/2008-->
    <servlet-mapping>
        <servlet-name>SOAPServlet</servlet-name>
        <url-pattern>/providers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOAPServlet</servlet-name>
        <url-pattern>/providers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/pdkresource/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controllerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/serviceservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderSevlet</servlet-name>
        <url-pattern>/editordersevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailServlet</servlet-name>
        <url-pattern>/retailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSearchServlet</servlet-name>
        <url-pattern>/orderSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralServlet</servlet-name>
        <url-pattern>/generalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/itemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTabsServlet</servlet-name>
        <url-pattern>/orderTabsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairServlet</servlet-name>
        <url-pattern>/repairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MassiveOrderServlet</servlet-name>
        <url-pattern>/massiveorderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortabilityOrderServlet</servlet-name>
        <url-pattern>/portabilityOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesDataServlet</servlet-name>
        <url-pattern>/salesdataservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTagInitServlet</servlet-name>
        <url-pattern>/displaytaginitservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiometricaServlet</servlet-name>
        <url-pattern>/biometricaservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiometricaEditServlet</servlet-name>
        <url-pattern>/biometricaeditservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NormalizarDireccionServlet</servlet-name>
        <url-pattern>/normalizarDireccionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            OrderExpressStoreServlet
        </servlet-name>
        <url-pattern>
            /orderexpressstoreservlet
        </url-pattern>
    </servlet-mapping>
    <!-- N_SD000298178 JorgeGabriel 07/08/2015 inicio-->
    <servlet-mapping>
        <servlet-name>OrderPrintServlet</servlet-name>
        <url-pattern>/orderprintservlet</url-pattern>
    </servlet-mapping>
    <!-- N_SD000298178 JorgeGabriel 07/08/2015 fin-->
    <!-- [REQ-0428]JGABRIEL: INICIO  19/05/2016-->
    <servlet-mapping>
        <servlet-name>PenaltyServlet</servlet-name>
        <url-pattern>/penaltyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiometricaDetailServlet</servlet-name>
        <url-pattern>/biometricaDetailServlet</url-pattern>
    </servlet-mapping>
    <!-- [REQ-0428]JGABRIEL: FIN-->

    <!-- [PM0011173]LROQUE: INICIO-->
    <servlet-mapping>
        <servlet-name>GestionDocumentoDigitalesServlet</servlet-name>
        <url-pattern>/gestionDocumentoDigitalesServlet</url-pattern>
    </servlet-mapping>
    <!-- [PM0011173]LROQUE: FIN-->

    <!-- [PRY0787]JRIOS: INICIO-->
    <servlet-mapping>
        <servlet-name>DigitalDocumentServlet</servlet-name>
        <url-pattern>/digitalDocumentServlet</url-pattern>
    </servlet-mapping>
    <!-- [PRY0787]JRIOS: FIN-->

    <!-- [PRY0787]ARAMOS: INICIO-->
    <servlet-mapping>
        <servlet-name>ViewDigitalDocumentServlet</servlet-name>
        <url-pattern>/viewDigitalDocumentServlet</url-pattern>
    </servlet-mapping>
    <!-- [PRY0787]ARAMOS: FIN-->

    <!-- [PRY0787]JCASTILO: INICIO-->
    <servlet-mapping>
        <servlet-name>PopulateCenterServlet</servlet-name>
        <url-pattern>/populateCenterServlet</url-pattern>
    </servlet-mapping>
    <!-- [PRY0787]JCASTILLO: FIN-->

    <!-- JCURI PRY-0890 -->
    <servlet-mapping>
        <servlet-name>ApportionmentServlet</servlet-name>
        <url-pattern>/apportionmentServlet</url-pattern>
    </servlet-mapping>
    <!-- JCURI PRY-0890 FIN -->

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <taglib>
        <taglib-uri>http://displaytag.sf.net/</taglib-uri>
        <taglib-location>/WEB-INF/displaytag-11.tld</taglib-location>
    </taglib>
     <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
</web-app>